<div id="checkout-container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div class="text-center mt-40">
        <h1>
          Checkout — Stripe Press
        </h1>
        <h5 class="text-secondary">
          {{title}}
        </h5>
        <hr class="mt-40">
        <div class="mt-20 text-info">
          Total due: $<span class="amount" data-amount="{{amount}}"></span>
        </div>
      </div>
      <div class="card box-shadow mt-40">
        <div class="card-body">
          <form id="payment-form">
              <input type="text" id="email" placeholder="Email address" />
              <div id="card-element">
                <!--Stripe.js injects the Card Element-->
              </div>
              <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
              </button>
              <p id="card-error" role="alert"></p>
            <div class="mt-20">
            </div>
          </form>
          <div id="card-receipt" class="hidden">
            <div class="receipt-header">
              <h3>Payment Complete!</h3>
            </div>
            <div id="payment-intent-id" class="mt-20 text-info text-center"></div>
            <div id="payment-price" class="mt-20 text-info text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
